@model IQueryable<SafeBeaches.Models.Beach>

@section scripts
{
}

<div class="beaches">
  <div class="list-group">
    @foreach (var beach in Model)
    {
      var reading = beach.GetLatestReading();
      var safe = reading.Safe ? "list-group-item-success" : "list-group-item-danger";
      var icon = reading.Safe ? "glyphicon-ok-circle" : "glyphicon-ban-circle";
      <a href="#" class="list-group-item @safe">
        <div class="row">
          <div class="col-xs-8">
            <h4 class="list-group-item-heading"><span class="glyphicon @icon" aria-hidden="true"></span> @beach.Name</h4>
          </div>
          <div class="col-xs-4"><p class="list-group-item-text text-right">@reading.Date.ToShortDateString()</p></div>
        </div>
      </a>
    }
  </div>
</div>