@section scripts
{
  <script src="http://openlayers.org/en/v3.0.0/build/ol.js" type="text/javascript"></script>
  <script type="text/javascript">
    var proj = new ol.Projection("EPSG:4326");
    var map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        })
      ],
      view: new ol.View({
        zoom: 12
      })
    });
    var center = new ol.LonLat(43.266749, -79.872631);
    map.setCenter(center.transform(proj, map.getProjectionObject()));
  </script>
}


<div class="map" id="map"></div>